<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Aparecida Nutrição</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>

		<header>
			<div class="container">
				<h1 class= "titulo">Aparecida Nutrição</h1>
			</div>
		</header>
		<main>
			<section class="container">
				<h2>Meus pacientes</h2>
				<label for="filtrar-tabela">filtre:</label>
				<input type="text" name="filtro" id="filtrar-tabela" placeholder="digite o nome do paciente">
				<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Peso(kg)</th>
							<th>Altura(m)</th>
							<th>Gordura Corporal(%)</th>
							<th>IMC</th>
						</tr>
					</thead>
					<tbody th:each="nutricao : ${nutricao}" id="tabela-pacientes">
						<tr class="paciente" id="primeiro-paciente">
							<td class="info-nome" th:text="${nutricao.nome}"></td>
							<td th:id="${nutricao.id}" class="info-peso" th:text="${nutricao.peso}"></td>
							<td class="info-altura" th:text="${nutricao.altura}"></td>
							<!--https://o7planning.org/en/12373/thymeleaf-th-class-th-classappend-th-style-th-styleappend-->
							<td th:class="${nutricao.gordura}" id="info-gordura" th:text="${nutricao.gordura}"></td>
							<td class="info-imc">0</td>
						</tr>

					</tbody>
				</table>
				<button id="buscar-pacientes" class="botao bto-principal" type="submit">Buscar paciente</button>
			</section>
			
		</main>

			<section class="container">
				
		    <h2 id="titulo-form">Adicionar novo paciente</h2>
				<ul id="mensagens-erro"></ul>
				
		    <form id= "form-adiciona" method="post">
		        <div class="">
		            <label for="nome">Nome:</label>
		            <input id="nome" name="nome" type="text" placeholder="digite o nome do seu paciente" class="campo">
		        </div>
		        <div class="grupo">
		            <label for="peso">Peso:</label>
		            <input id="peso" name="peso" type="text" placeholder="digite o peso do seu paciente" class="campo campo-medio">
		        </div>
		        <div class="grupo">
		            <label for="altura">Altura:</label>
		            <input id="altura" name="altura" type="text" placeholder="digite a altura do seu paciente" class="campo campo-medio">
		        </div>
		        <div class="grupo">
		            <label for="gordura">% de Gordura:</label>
		            <input id="gordura" name="gordura" type="text" placeholder="digite a porcentagem de gordura do seu paciente" class="campo campo-medio">
		        </div>

		        <button class="botao bto-principal" type="submit">Adicionar</button>
			    </form>
			</section>


		<script src="js/calcula-imc.js"></script>
		<script src="js/form.js"></script> <!-- form responsável por criar targ dentro do nosso html--->
		<script src="js/filtra.js"></script>
		<script src="js/buscar-pacientes.js"></script>
	</body>
</html>
